<div class="settings">
  <div class="settings__group">
    <label for="interval" class="settings__label">Timer Interval (ms):</label>
    <input
      type="search"
      id="interval"
      class="settings__input"
      [(ngModel)]="timerInterval"
      (input)="onInputChange()"
    />
  </div>
  <div class="settings__group">
    <label for="dataSize" class="settings__label">Array Size:</label>
    <input
      type="search"
      id="dataSize"
      class="settings__input"
      [(ngModel)]="dataArraySize"
      (input)="onInputChange()"
    />
  </div>
  <div class="settings__group">
    <label for="additionalIds" class="settings__label"
      >Additional array IDs (comma-separated):</label
    >
    <input
      type="search"
      id="additionalIds"
      class="settings__input"
      [(ngModel)]="additionalIds"
    />
  </div>
</div>

<div class="table">
  <div class="table__header">
    <div class="table__cell">ID</div>
    <div class="table__cell">Integer</div>
    <div class="table__cell">Float</div>
    <div class="table__cell">Color</div>
    <div class="table__cell">Child</div>
  </div>
  <div class="table__body">
    <div class="table__row" *ngFor="let item of displayedData()">
      <div class="table__cell">{{ item.id }}</div>
      <div class="table__cell">{{ item.int }}</div>
      <div class="table__cell">{{ item.float }}</div>
      <div
        class="table__cell"
        [style.background]="item.color"
        [style.color]="item.color === '#000000' ? 'white' : 'black'"
      >
        {{ item.color }}
      </div>
      <div class="table__cell">
        <div class="table__nested">
          <div class="table__nested-header">
            <div class="table__cell">ID</div>
            <div class="table__cell">Color</div>
          </div>
          <div class="table__nested-row">
            <div class="table__cell">{{ item.child.id }}</div>
            <div
              class="table__cell"
              [style.background]="item.child.color"
              [style.color]="item.child.color === '#000000' ? 'white' : 'black'"
            >
              {{ item.child.color }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
